
#outer-box {
	background-color: yellow;
}

.box {
  background-color:green;
  padding: 10px;
}

.inner-box {
	background-color: red
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

.white-text {
	color: white;
}